<%= form_with model: @sea, local: true, class: "container" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :temperature %>
  <%= f.number_field :temperature, class: "form-control" %>

  <%= f.label :bio %>
  <%= f.text_area :bio, class: "form-control" %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url, class: "form-control" %>

  <%= f.label :mood %>
  <%= f.text_field :mood, class: "form-control" %>

  <%= f.label :favorite_color %>
  <%= f.text_field :favorite_color, class: "form-control" %>

  <%= f.label :scariest_creature %>
  <%= f.text_field :scariest_creature, class: "form-control" %>

  <%= f.label :has_mermaids, class: "checkbox" do %>
    <%= f.check_box :has_mermaids%> Has mermaids 
  <%end%>

  <%=  f.submit class: "form-control btn btn-info"%>

  <% end %>

  <div class="container">
    <div class="text-center">
      <button class="btn btn-info" style="margin: 1em"><a class="btn-info" href="/seas">All Seas</a></button>
    </div>
  </div>
